node_modules/
dist/

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Swap the comments on the following lines if you wish to use zero-installs
# In that case, don't forget to run `yarn config set enableGlobalCache false`!
# Documentation here: https://yarnpkg.com/features/caching#zero-installs

#!.yarn/cache
.pnp.*
src/parser/RustLike.interp
src/parser/RustLike.tokens
src/parser/RustLikeLexer.tokens
src/parser/RustLikeLexer.interp
src/parser/RustLikeLexer.ts
src/parser/RustLikeListener.ts
src/parser/RustLikeParser.ts
src/parser/RustLikeVisitor.ts
test_function.rs
src/parser/SimpleLang.interp
src/parser/SimpleLangLexer.interp
src/parser/SimpleLang.interp
src/parser/SimpleLangLexer.interp
src/test.ts
src/RustLikeCompiler.js
src/parser/grammar/RustLikeVisitor.js
src/parser/grammar/RustLikeParser.js
src/parser/grammar/RustLikeListener.js
src/parser/grammar/RustLikeLexer.js
src/Heap.js
src/test.js
src/RustLikeVirtualMachine.js
src/RustLikeTypeChecker.js
src/test_block.cjs
src/test_block_expression.js
src/test_simple.cjs
src/test_simple.js
